
<router-outlet></router-outlet>

<!--<div class="container">
  <h1>Url Shortner</h1>
  <input class="urltext" type="text" ng-pattern="/^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/" [(ngModel)]="ActualURL" placeholder="Paste Copied URL">
  <button class="shortenbtn" (click)="ShortenURL()">Shorten URL</button>
  <br />
  <br />
  <br />
 <span *ngIf="ShortenedURL" class="box"> <label class="result">{{ShortenedURL}}&nbsp;
   <span class="copybtn" style="color:grey;" (click)="copytext()">copy</span></label></span>
</div>-->

